on:
  pull_request:
  push:
    branches: [main, test-me-*]

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        persist-credentials: false
    - uses: actions/setup-python@3542bca2639a428e1796aaa6a2ffef0c0f575566 # v3
    - name: self test action
      uses: ./
